<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-sm-6">

<div class="form-comp">
    <h1 style="font-weight: 200;" class="mt-5">STOCK SEARCH</h1>
    <form class="searchbar" (ngSubmit)="submitForm(autoTrigger)">
        <input id="stock" autocomplete="off" type="text" name="name" [(ngModel)]="name" placeholder="Enter Stock Symbol" (input)="onInput($event)"  matInput
        [formControl]="myControl"
        [matAutocomplete]="auto" #autoTrigger="matAutocompleteTrigger">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="formatOption">
          <mat-option *ngIf="isLoading">
            <mat-spinner diameter="20"></mat-spinner>
          </mat-option>
          @for (option of filteredOptions | async; track option) {
            <mat-option *ngIf="!isLoading" [value]="option">{{option}}</mat-option>
          }
         
        </mat-autocomplete>
        
        <label style="width: 10%;" class="search">
          <button type="submit" style="display: none;"></button>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3232E5" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
      </label>
      <label class="search">
        <button (click)="resetForm()" type="reset" style="display: none;"></button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3232E5" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
    </label>
        <!-- <button type="submit">Submit</button> -->
      </form>
    </div>
  </div>
</div>
</div>
    <mat-spinner diameter="50" *ngIf="isLoadingData"></mat-spinner>
  <div [ngStyle]="{'display': notick?'block':'none'}" class="no_tick col-11 col-lg-9 mt-5">
    <p>{{alert_text}}</p>
  </div>
      
      
    
    
    
    